.App {
	text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: white;
	min-height: 10px;
	display: inline-block;
	flex-direction: row;
	align-items: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

.row {
	display: flex;
	flex-direction: row;
}

.centered {
	padding-left: 15px;
	padding-right: 15px;
	text-align:justify;
}
.text_1 {
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	text-align:justify;
}

.text_2 {
	font-size: 12px;
}

.img_1 {
	height: 70vmin;
	width: auto;
	pointer-events: none;
}

.img_2 {
	height: 22.5vmin;
	width: auto;
	pointer-events: none;
}

.img_Full {
	height: 80vmin;
	width: auto;
	pointer-events: none;
}

.gtech {
	height: 10vmin;
	width: auto;
	pointer-events: none;
}

.App-logo {
	height: 10vmin;
	width: auto;
	pointer-events: none;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	} to {
		transform: rotate(360deg);
	}
}
